@import "../abstracts/functions";

.btn{
  padding: 0.8em 0.9em;
  background-color: #FF2A0E;
  color: #ffffff !important;
  cursor: pointer;
  @include border-radius-element(2px);
}

.btn:hover{
  background-color: #ffffff;
  border: 2px solid #555555;
  color: #000000 !important;
  box-sizing: border-box;
}