#modal-devis{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  display: none;
  text-align: center;
  z-index: 4;
  .content-modal-devis{
    background-color: #ffffff;
    position: relative;
    padding: 4em 2em 2em 2em;
    color: #000000;
    .btn-close-modal{
      position: absolute;
      content: "x";
      border: 1px solid #dddddd;
      font-size: 12px;
      cursor: pointer;
      background: none;
      right: 20px;
      top: 20px;
    }
  }
}