$footerBgColor: #191919;

#footer-app{
  padding: 2.6em 0;
  background-color: $footerBgColor;
  color: #a4a8ac;
  font-size: 12px;
  a{
    color: inherit;
  }

  #list-rs{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
    li{
      display: inline-block;
    }
  }
}