// variables
$headerBgColor: transparent;
$headerPadding: 1em;

.header{
  background: $headerBgColor;
  padding: $headerPadding;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 30px;
  transition-duration: 0.2s;
  z-index: 3;
  .logo-app{
    display: block;
    width: 240px;
    #Calque_1 path {
      fill: #ffffff;
    }
  }
  #btn-devis{
    margin-left: 40px;
    font-size: inherit;
  }
  @media screen and (max-width: 500px) {
    .logo-app{
      display: block;
      width: 160px;
      #Calque_1 path { fill: #ffffff }
    }
  }
}

.sticky-header{
  padding: 0.6em 1em;
  transition-duration: 0.2s;
  background-color: #ffffff;
  border-bottom: 1px solid #f8f8f8;
  .logo-app {
    #Calque_1 path {
      fill: #000000;
    }
  }
}