#nav-primary{
  text-align: right;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
  ul{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
    li{
      display: inline-block;
      a{
        padding-left: 40px;
        color: #ffffff;
      }
    }
    .current-menu-item{
      font-weight: bold;
    }
  }
}

.sticky-header #nav-primary{
  text-align: right;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
  ul{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
    li{
      display: inline-block;
      a{
        padding-left: 40px;
        color: #000000;
      }
    }
    .current-menu-item{
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 500px) {

  #nav-primary{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    display: none;
    flex-direction: column;
    ul{
      width: 100%;
      margin-bottom: 30px;
      li{
        display: block;
        text-align: center;
        a{
          display: block;
          padding: 10px;
        }
      }
    }
    #btn-devis{
      margin-left: 0;
    }
  }

}