.tease{
  background-color: #ffffff;
  margin-bottom: 30px;
  border: 1px solid #EBEBEB;

  .title-post{
    font-size: 2rem;
    padding: 1.6em 1em;
    margin: 0;
  }

  .content-post{
    padding: 0 1em 1em 1em;
  }

  .footer-post{
    padding: 1.6em 1em;
    border-top: 1px solid #f6f7f8;
    text-align: right;
  }

  img{
    width: 100%;
    display: block;
  }

}