$colorBgApp:      #ffffff;
$colorA:          #000000;
$colorHoverA:     #555555;

body{
  background-color: $colorBgApp;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.blog{
  background-color: #f8f8f8;
}

a{
  color: $colorA;
  text-decoration: none;
  cursor: pointer;
}

p{
  color: #717171;
  font-weight: lighter;
}

a:hover, a:focus{
  color: $colorHoverA;
  text-decoration: none;
}