#banner-home{
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  h1{
    font-size: 4.125em;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 20px;
    z-index: 2;
    text-align: center;
    opacity: 0;
    animation-name: animation_title_banner;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
  }

  h2{
    color: #ffffff;
    z-index: 2;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    width: 600px;
    font-weight: 200;
    opacity: 0;
    animation-name: animation_title_banner;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
  }

  @keyframes animation_title_banner {
    from { transform: translate(0%, -15%); opacity: 0 }
    to { transform: translate(0%, 0%); opacity: 1 }
  }

  .picto-mouse-banner-home{
    width: 20px;
    position: absolute;
    left: 50%;
    animation: animate_mouse 1.8s infinite;
    animation-direction: alternate;
    margin-left: -10px;
    bottom: 20px;
  }

  .overlay-banner{
    height: 100vh;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  @-webkit-keyframes animate_mouse {
    from { bottom: 50px; opacity: 0 }
    to { bottom: 20px; opacity: 1 }
  }

  /* media queries */
  @media screen and (max-width: 500px) {
    h1{
      font-size: 2em;
      text-align: center;
    }
  }

}

#about-home{
  padding: 9em 0;
  position: relative;
  overflow: hidden;
  .content-about{
    padding: 0 3rem;
    h3{
      margin-bottom: 30px;
      font-size: 2.000em;
      line-height: 42px;
      font-weight: lighter;
    }
    h3::first-line {
      color: #FF2A0E;
      font-weight: 500;
    }
  }
  @media screen and (max-width: 500px) {
    .content-about {
      padding: 3rem 0;
    }
  }
}

.big-title span{
  color: #f4f4f4;
  font-size: 13vw;
  text-transform: uppercase;
  position: absolute;
  top: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 0;
  font-weight: bold;
}

#section-recent-projects{
  padding: 9em 0;
  background-color: #f8f8f8;
  position: relative;
  overflow: hidden;

  h3{
    margin-bottom: 30px;
    font-size: 2.000em;
    line-height: 42px;
    font-weight: lighter;
  }

  h3::first-line {
    color: #FF2A0E;
    font-weight: 500;
  }

  .project {
    text-align: center;
    margin-bottom: 30px;
    padding: 6rem 9em;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .overlay{
      height: 100%;
      width: 100%;
      left: 0;
      top: 0px;
      background: rgba(0, 0, 0, 0.350);
      position: absolute;
    }

    .title-project{
      color: #ffffff;
      font-weight: lighter;
      background-color: #fff;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 24px;
      transform: scale(0);
      transition-duration: 0.5s;
      opacity: 0;
      padding: 1.5em 1em;
      margin: 0;
    }

  }

  .project:hover{
    .title-project {
      transform: scale(0.9);
      opacity: 1;
    }
  }

}

/* rien à faire la, à changer de place par la suite*/
#section-partners{
  background: #ffffff;
  padding: 1.8em 0;
  text-align: center;
  border-top: 1px solid #EBEBEB;
  .list-logo-partners{
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    li{
      width: 100%;
      justify-content: center;
    }
    img{
      width: 100px;
    }
  }
}