.section-detail-project {
  padding: 8em 0;
}

#banner-detail-project{
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title-detail-project{
  font-size: 60px;
  color: #ffffff;
}