{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
  <div class="container" style="padding-top: 200px">
    <div class="row">
        {% for project in projects %}
          <div class="col-lg-4">
            <div class="project">
              <img src="{{ project.thumbnail.src }}" class="img-fluid"/>
              <h4 style="margin-bottom: 40px" class="title-project">
                <a href="{{ project.guid }}">{{ project.title }}</a>
              </h4>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}
