{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<div id="modal-devis">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-lg-6">
						<div class="content-modal-devis">
							<button class="btn-close-modal">Fermer</button>
							<h3>Demandez votre devis</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolorem hic iste repellat, sint sunt vel voluptates.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<header class="header">
			{% block header %}
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-3">
							<a class="logo-app" href="{{site.url}}" rel="home">
								<?xml version="1.0" encoding="utf-8"?>
								<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="0 0 611.73 171.68" style="enable-background:new 0 0 611.73 171.68;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#8ED0DD;}
	.st1{fill:#75529D;}
	.st2{fill:#00B5DD;}
	.st3{fill:#EA5925;}
	.st4{fill:#BAC109;}
	.st5{fill:#FFCC00;}
	.st6{fill:#4B5E71;}
	.st7{fill:none;}
	.st8{fill:#2B3844;}
</style>
									<g>
										<g>
											<path class="st0" d="M10.1,67.61c0.04,0,0.07,0,0.1,0h-0.19C10.04,67.61,10.07,67.61,10.1,67.61z"/>
											<path class="st0" d="M22.77,67.61c0.1,0,0.19,0,0.28-0.01H22.5C22.59,67.61,22.68,67.61,22.77,67.61z"/>
											<path class="st0" d="M48.11,67.61c0.16,0,0.31-0.01,0.46-0.02h-0.91C47.81,67.6,47.96,67.61,48.11,67.61z"/>
											<path class="st0" d="M60.79,67.61c0.17,0,0.34-0.01,0.5-0.03h-1.01C60.44,67.6,60.61,67.61,60.79,67.61z"/>
											<path class="st1" d="M13.29,19.43v45c0,2.39-1.92,4.34-4.29,4.39H8.81c-2.38-0.05-4.29-1.99-4.29-4.39V33.65L4.48,33.4l-3.45-4.55
			L13.29,19.43z"/>
											<path class="st2" d="M27.6,63.82V8.45l-8.78,6.93v48.44c0,2.33,1.82,4.24,4.12,4.38h0.55C25.79,68.05,27.6,66.15,27.6,63.82z"/>
											<path class="st3" d="M37.5,0.97l-4.36,3.44v38.9v20.92c0,2.43,1.96,4.39,4.38,4.39c2.43,0,4.39-1.96,4.39-4.39V43.3V4.44
			L37.5,0.97z"/>
											<path class="st4" d="M56.21,63.82V15.39l-8.77-6.91v55.34c0,2.27,1.73,4.14,3.94,4.37h0.91C54.49,67.95,56.21,66.09,56.21,63.82z"
											/>
											<path class="st5" d="M61.75,19.44v44.98c0,2.25,1.7,4.1,3.88,4.36h1.02c2.18-0.26,3.88-2.11,3.88-4.36v-8.99V33.36l3.43-4.54
			L61.75,19.44z"/>
											<path class="st6" d="M70.4,75.67c0-1.07-0.87-1.93-1.94-1.93l0,0l-62.1,0.03c-1.07,0-1.93,0.87-1.93,1.94l0.01,13.38
			c0,0.72,0.4,1.38,1.03,1.71c4.46,2.36,16.6,9.47,19.22,14.06c3.99,6.98,2.72,14.68,1.37,22.83c-0.82,5.01-1.69,10.21-1.32,15.42
			c0.98,13.79,10.79,26.24,11.21,26.76c0.37,0.45,0.93,0.73,1.52,0.73l0,0c0.59,0,1.15-0.27,1.51-0.74
			c0.42-0.52,10.21-12.97,11.18-26.77c0.37-5.21-0.5-10.36-1.34-15.36c-1.35-8.03-2.63-15.61,1.34-22.59
			c2.62-4.6,14.77-11.94,19.24-14.39c0.62-0.33,1.01-0.99,1.01-1.69L70.4,75.67z"/>
											<path class="st7" d="M0.26,29.27"/>
										</g>
										<g>
											<g>
												<path class="st8" d="M107.51,90.08V28.86h14.59c7.15,0,12.7,2.24,16.65,6.71c3.95,4.47,5.93,10.76,5.93,18.86v10.26
				c0,8.1-2,14.36-6.01,18.77c-4.01,4.42-9.83,6.62-17.45,6.62H107.51z M115.21,35.46v48.02h6.18c5.41,0,9.36-1.55,11.86-4.65
				c2.49-3.1,3.77-7.7,3.82-13.78V54.19c0-6.45-1.24-11.19-3.72-14.2c-2.48-3.01-6.23-4.53-11.24-4.53H115.21z"/>
												<path class="st8" d="M164.69,90.08H157V28.86h7.7V90.08z"/>
												<path class="st8" d="M178.19,90.08V28.86h14.59c7.14,0,12.7,2.24,16.64,6.71c3.95,4.47,5.93,10.76,5.93,18.86v10.26
				c0,8.1-2,14.36-6.01,18.77c-4.01,4.42-9.82,6.62-17.45,6.62H178.19z M185.88,35.46v48.02h6.18c5.41,0,9.36-1.55,11.86-4.65
				c2.5-3.1,3.76-7.7,3.82-13.78V54.19c0-6.45-1.24-11.19-3.72-14.2c-2.48-3.01-6.23-4.53-11.24-4.53H185.88z"/>
												<path class="st8" d="M235.37,90.08h-7.7V28.86h7.7V90.08z"/>
												<path class="st8" d="M278.21,61.78h-21.65v21.7h25.23v6.6h-32.92V28.86h32.5v6.6h-24.81v19.72h21.65V61.78z"/>
												<path class="st8" d="M310.13,65.31h-10.77v24.77h-7.74V28.86h17.16c6,0,10.54,1.56,13.62,4.69c3.08,3.13,4.63,7.7,4.63,13.73
				c0,3.79-0.83,7.08-2.5,9.9c-1.67,2.82-4.03,4.94-7.08,6.37l11.85,26.03v0.51h-8.28L310.13,65.31z M299.36,58.71h9.33
				c3.22,0,5.79-1.04,7.71-3.12c1.92-2.08,2.89-4.86,2.89-8.34c0-7.86-3.56-11.79-10.68-11.79h-9.25V58.71z"/>
												<path class="st8" d="M390.4,82.47l-1.35,1.68c-3.87,4.51-9.53,6.77-16.98,6.77c-6.62,0-11.81-2.19-15.58-6.57
				c-3.77-4.39-5.7-10.59-5.78-18.61V53.71c0-8.58,1.72-15,5.15-19.28c3.43-4.27,8.57-6.41,15.41-6.41c5.83,0,10.39,1.62,13.69,4.86
				c3.3,3.24,5.11,7.87,5.45,13.9h-7.69c-0.31-3.81-1.37-6.79-3.18-8.93c-1.81-2.15-4.55-3.22-8.22-3.22c-4.4,0-7.63,1.44-9.67,4.31
				c-2.05,2.87-3.11,7.46-3.2,13.77v12.49c0,6.17,1.18,10.9,3.53,14.19c2.36,3.29,5.73,4.94,10.13,4.94c4.15,0,7.3-1.01,9.46-3.01
				l1.13-1.04V66.2h-11.19v-6.6h18.88V82.47z"/>
												<path class="st8" d="M421.47,65.31h-10.76v24.77h-7.73V28.86h17.15c6,0,10.54,1.56,13.63,4.69c3.08,3.13,4.62,7.7,4.62,13.73
				c0,3.79-0.83,7.08-2.5,9.9c-1.67,2.82-4.03,4.94-7.09,6.37l11.86,26.03v0.51h-8.28L421.47,65.31z M410.71,58.71h9.34
				c3.23,0,5.79-1.04,7.71-3.12c1.92-2.08,2.89-4.86,2.89-8.34c0-7.86-3.56-11.79-10.68-11.79h-9.25V58.71z"/>
												<path class="st8" d="M478.02,61.78h-21.65v21.7h25.23v6.6h-32.92V28.86h32.5v6.6h-24.81v19.72h21.65V61.78z"/>
												<path class="st8" d="M499.17,83.48h24.01v6.6h-31.74V28.86h7.73V83.48z"/>
												<path class="st8" d="M561.69,61.78h-21.65v21.7h25.23v6.6h-32.92V28.86h32.5v6.6h-24.81v19.72h21.65V61.78z"/>
												<path class="st8" d="M611.73,35.46h-16.11v54.62h-7.69V35.46h-16.06v-6.6h39.86V35.46z"/>
											</g>
											<g>
												<path class="st6" d="M107.52,114.79h10.98v2.16h-8.68v5.07h8.07v2.16h-8.07v5.46h9.11v2.16h-11.42V114.79z"/>
												<path class="st6" d="M124.12,114.79h3.03l9.37,13.99h0.05v-13.99h2.31v17.01h-2.93l-9.47-13.99h-0.05v13.99h-2.31V114.79z"/>
												<path class="st6" d="M148.73,116.96h-5.48v-2.16h13.26v2.16h-5.48v14.85h-2.31V116.96z"/>
												<path class="st6" d="M160.89,114.79h5.98c1.09,0,1.99,0.15,2.69,0.44c0.71,0.3,1.26,0.67,1.67,1.13
				c0.41,0.46,0.69,0.97,0.85,1.54c0.16,0.57,0.24,1.12,0.24,1.65c0,0.54-0.1,1.07-0.29,1.57c-0.19,0.51-0.47,0.96-0.83,1.37
				c-0.36,0.41-0.8,0.75-1.32,1.03c-0.52,0.28-1.1,0.46-1.74,0.52l4.83,7.76h-2.88l-4.33-7.5h-2.57v7.5h-2.31V114.79z M163.2,122.29
				h3.03c0.45,0,0.89-0.04,1.33-0.11c0.44-0.07,0.83-0.21,1.18-0.4c0.34-0.19,0.62-0.47,0.83-0.83c0.21-0.36,0.31-0.83,0.31-1.4
				c0-0.58-0.1-1.05-0.31-1.41c-0.21-0.36-0.48-0.64-0.83-0.83c-0.34-0.19-0.74-0.32-1.18-0.39c-0.44-0.07-0.89-0.11-1.33-0.11
				h-3.03V122.29z"/>
												<path class="st6" d="M177.5,114.79h10.98v2.16h-8.68v5.07h8.07v2.16h-8.07v5.46h9.11v2.16H177.5V114.79z"/>
												<path class="st6" d="M194.1,114.79h5.98c1.09,0,1.99,0.15,2.69,0.44c0.71,0.3,1.26,0.67,1.67,1.13c0.41,0.46,0.69,0.97,0.85,1.54
				c0.16,0.57,0.24,1.12,0.24,1.65c0,0.53-0.08,1.08-0.24,1.65c-0.16,0.57-0.45,1.08-0.85,1.53c-0.41,0.46-0.96,0.83-1.67,1.13
				c-0.71,0.3-1.6,0.45-2.69,0.45h-3.68v7.5h-2.31V114.79z M196.41,122.29h3.03c0.45,0,0.89-0.04,1.33-0.11
				c0.44-0.07,0.83-0.21,1.18-0.4c0.34-0.19,0.62-0.47,0.83-0.83c0.21-0.36,0.31-0.83,0.31-1.4c0-0.58-0.1-1.05-0.31-1.41
				c-0.21-0.36-0.48-0.64-0.83-0.83c-0.34-0.19-0.74-0.32-1.18-0.39c-0.44-0.07-0.89-0.11-1.33-0.11h-3.03V122.29z"/>
												<path class="st6" d="M210.27,114.79h5.98c1.09,0,1.99,0.15,2.69,0.44c0.71,0.3,1.26,0.67,1.67,1.13
				c0.41,0.46,0.69,0.97,0.85,1.54c0.16,0.57,0.24,1.12,0.24,1.65c0,0.54-0.1,1.07-0.29,1.57c-0.19,0.51-0.47,0.96-0.83,1.37
				c-0.36,0.41-0.8,0.75-1.32,1.03c-0.52,0.28-1.1,0.46-1.74,0.52l4.83,7.76h-2.88l-4.33-7.5h-2.57v7.5h-2.31V114.79z
				 M212.58,122.29h3.03c0.45,0,0.89-0.04,1.33-0.11c0.44-0.07,0.83-0.21,1.18-0.4c0.34-0.19,0.62-0.47,0.83-0.83
				c0.21-0.36,0.31-0.83,0.31-1.4c0-0.58-0.1-1.05-0.31-1.41c-0.21-0.36-0.48-0.64-0.83-0.83c-0.34-0.19-0.74-0.32-1.18-0.39
				c-0.44-0.07-0.89-0.11-1.33-0.11h-3.03V122.29z"/>
												<path class="st6" d="M226.88,114.79h2.31v17.01h-2.31V114.79z"/>
												<path class="st6" d="M235.99,128.25c0.42,0.62,0.95,1.09,1.6,1.38c0.65,0.3,1.32,0.45,2.01,0.45c0.38,0,0.78-0.06,1.18-0.18
				c0.4-0.12,0.76-0.3,1.09-0.54c0.33-0.24,0.6-0.54,0.81-0.89c0.21-0.35,0.31-0.76,0.31-1.23c0-0.66-0.21-1.16-0.62-1.5
				c-0.42-0.34-0.93-0.63-1.55-0.87c-0.62-0.23-1.29-0.46-2.02-0.67c-0.73-0.22-1.4-0.52-2.02-0.9c-0.62-0.38-1.13-0.9-1.55-1.55
				c-0.42-0.65-0.63-1.53-0.63-2.63c0-0.5,0.11-1.03,0.32-1.59c0.22-0.56,0.56-1.08,1.02-1.54c0.46-0.47,1.06-0.85,1.79-1.17
				c0.73-0.31,1.61-0.47,2.63-0.47c0.93,0,1.82,0.13,2.67,0.38c0.85,0.26,1.59,0.78,2.24,1.56l-1.88,1.71
				c-0.29-0.45-0.7-0.81-1.23-1.08c-0.53-0.27-1.13-0.41-1.8-0.41c-0.64,0-1.17,0.08-1.6,0.25c-0.42,0.17-0.77,0.38-1.02,0.65
				c-0.26,0.27-0.44,0.55-0.54,0.85c-0.1,0.31-0.16,0.59-0.16,0.84c0,0.72,0.21,1.27,0.62,1.66c0.42,0.38,0.93,0.7,1.55,0.94
				c0.62,0.24,1.29,0.46,2.02,0.65c0.73,0.19,1.4,0.46,2.02,0.81c0.62,0.34,1.13,0.81,1.55,1.39c0.42,0.58,0.62,1.39,0.62,2.41
				c0,0.82-0.16,1.56-0.47,2.21c-0.31,0.65-0.73,1.21-1.26,1.66c-0.53,0.45-1.15,0.79-1.87,1.03c-0.72,0.24-1.49,0.36-2.31,0.36
				c-1.09,0-2.12-0.19-3.1-0.58c-0.98-0.38-1.75-0.98-2.33-1.78L235.99,128.25z"/>
												<path class="st6" d="M250.77,114.79h10.98v2.16h-8.68v5.07h8.07v2.16h-8.07v5.46h9.11v2.16h-11.42V114.79z"/>
												<path class="st6" d="M275.59,114.79h5.94c1.2,0,2.25,0.14,3.16,0.41c0.9,0.27,1.69,0.63,2.36,1.09c0.66,0.46,1.22,0.98,1.66,1.57
				c0.44,0.59,0.79,1.2,1.05,1.83c0.26,0.62,0.44,1.25,0.55,1.87c0.11,0.62,0.17,1.2,0.17,1.73c0,1.09-0.2,2.14-0.6,3.16
				c-0.4,1.02-0.99,1.92-1.78,2.72c-0.78,0.79-1.76,1.43-2.92,1.91c-1.16,0.48-2.5,0.72-4.03,0.72h-5.55V114.79z M277.9,129.64h2.91
				c0.98,0,1.9-0.13,2.78-0.39c0.87-0.27,1.64-0.66,2.3-1.19c0.66-0.53,1.18-1.19,1.56-1.98c0.38-0.79,0.58-1.72,0.58-2.77
				c0-0.55-0.09-1.18-0.26-1.91c-0.18-0.73-0.51-1.42-1-2.08c-0.49-0.66-1.17-1.21-2.03-1.67c-0.87-0.46-1.99-0.68-3.36-0.68h-3.46
				V129.64z"/>
												<path class="st6" d="M295.71,114.79h10.98v2.16h-8.68v5.07h8.07v2.16h-8.07v5.46h9.11v2.16h-11.42V114.79z"/>
												<path class="st6" d="M320.91,114.79h5.98c1.09,0,1.99,0.15,2.69,0.44c0.71,0.3,1.26,0.67,1.67,1.13
				c0.41,0.46,0.69,0.97,0.85,1.54c0.16,0.57,0.24,1.12,0.24,1.65c0,0.53-0.08,1.08-0.24,1.65c-0.16,0.57-0.45,1.08-0.85,1.53
				c-0.41,0.46-0.96,0.83-1.67,1.13c-0.71,0.3-1.6,0.45-2.69,0.45h-3.67v7.5h-2.31V114.79z M323.22,122.29h3.03
				c0.45,0,0.89-0.04,1.33-0.11c0.44-0.07,0.83-0.21,1.18-0.4c0.34-0.19,0.62-0.47,0.83-0.83c0.21-0.36,0.31-0.83,0.31-1.4
				c0-0.58-0.1-1.05-0.31-1.41c-0.21-0.36-0.49-0.64-0.83-0.83c-0.34-0.19-0.74-0.32-1.18-0.39c-0.44-0.07-0.88-0.11-1.33-0.11
				h-3.03V122.29z"/>
												<path class="st6" d="M337.09,114.79h10.98v2.16h-8.68v5.07h8.07v2.16h-8.07v5.46h9.11v2.16h-11.42V114.79z"/>
												<path class="st6" d="M353.69,114.79H356v17.01h-2.31V114.79z"/>
												<path class="st6" d="M362.3,114.79h3.03l9.37,13.99h0.05v-13.99h2.31v17.01h-2.93l-9.47-13.99h-0.05v13.99h-2.31V114.79z"/>
												<path class="st6" d="M386.9,116.96h-5.48v-2.16h13.27v2.16h-5.48v14.85h-2.31V116.96z"/>
												<path class="st6" d="M401.06,114.79v10.43c0,0.53,0.07,1.08,0.22,1.64c0.15,0.57,0.38,1.09,0.72,1.58
				c0.34,0.48,0.78,0.87,1.32,1.18c0.54,0.3,1.21,0.46,2.02,0.46c0.8,0,1.47-0.15,2.02-0.46c0.55-0.3,0.99-0.7,1.32-1.18
				c0.34-0.48,0.58-1.01,0.72-1.58c0.14-0.57,0.22-1.12,0.22-1.64v-10.43h2.3v10.79c0,1-0.17,1.9-0.5,2.71
				c-0.34,0.81-0.8,1.51-1.39,2.1c-0.59,0.59-1.29,1.05-2.09,1.37c-0.8,0.32-1.67,0.48-2.59,0.48c-0.93,0-1.8-0.16-2.59-0.48
				c-0.8-0.32-1.5-0.78-2.09-1.37c-0.59-0.59-1.06-1.3-1.39-2.1c-0.34-0.81-0.5-1.71-0.5-2.71v-10.79H401.06z"/>
												<path class="st6" d="M417.9,114.79h5.98c1.09,0,1.99,0.15,2.69,0.44c0.71,0.3,1.26,0.67,1.67,1.13c0.41,0.46,0.69,0.97,0.85,1.54
				c0.16,0.57,0.24,1.12,0.24,1.65c0,0.54-0.09,1.07-0.29,1.57c-0.19,0.51-0.47,0.96-0.83,1.37c-0.36,0.41-0.8,0.75-1.32,1.03
				c-0.52,0.28-1.1,0.46-1.74,0.52l4.83,7.76h-2.88l-4.33-7.5h-2.57v7.5h-2.31V114.79z M420.21,122.29h3.03
				c0.45,0,0.89-0.04,1.33-0.11c0.44-0.07,0.83-0.21,1.18-0.4c0.34-0.19,0.62-0.47,0.83-0.83c0.21-0.36,0.31-0.83,0.31-1.4
				c0-0.58-0.1-1.05-0.31-1.41c-0.21-0.36-0.49-0.64-0.83-0.83c-0.34-0.19-0.74-0.32-1.18-0.39c-0.44-0.07-0.88-0.11-1.33-0.11
				h-3.03V122.29z"/>
												<path class="st6" d="M434.51,114.79h10.98v2.16h-8.68v5.07h8.07v2.16h-8.07v5.46h9.11v2.16h-11.42V114.79z"/>
												<path class="st6" d="M474.21,122.29v8.39c-0.42,0.26-0.89,0.48-1.42,0.68c-0.53,0.19-1.08,0.35-1.64,0.49
				c-0.57,0.13-1.15,0.24-1.73,0.3c-0.59,0.06-1.13,0.09-1.65,0.09c-1.44,0-2.73-0.24-3.86-0.72c-1.13-0.48-2.08-1.13-2.86-1.95
				c-0.78-0.82-1.37-1.77-1.78-2.85c-0.41-1.08-0.61-2.22-0.61-3.43c0-1.27,0.22-2.44,0.66-3.53c0.44-1.09,1.05-2.03,1.82-2.84
				c0.78-0.8,1.71-1.43,2.8-1.89c1.09-0.46,2.28-0.69,3.58-0.69c1.57,0,2.85,0.2,3.84,0.59c1,0.39,1.83,0.93,2.5,1.62l-1.63,1.75
				c-0.71-0.67-1.45-1.14-2.24-1.41c-0.78-0.26-1.61-0.4-2.47-0.4c-0.98,0-1.86,0.18-2.65,0.54c-0.78,0.36-1.46,0.84-2.02,1.45
				c-0.56,0.61-0.99,1.32-1.3,2.15c-0.3,0.83-0.46,1.7-0.46,2.63c0,0.96,0.17,1.85,0.51,2.68c0.33,0.83,0.8,1.54,1.39,2.15
				c0.59,0.61,1.29,1.09,2.09,1.43c0.8,0.34,1.68,0.52,2.62,0.52c0.82,0,1.59-0.07,2.32-0.23c0.73-0.16,1.35-0.37,1.86-0.66v-4.73
				h-3.77v-2.16H474.21z"/>
												<path class="st6" d="M480.34,114.79h10.98v2.16h-8.68v5.07h8.07v2.16h-8.07v5.46h9.11v2.16h-11.42V114.79z M486.42,110.37h3.08
				l-3.58,3.46h-1.99L486.42,110.37z"/>
												<path class="st6" d="M496.94,114.79h3.03l9.37,13.99h0.05v-13.99h2.31v17.01h-2.93l-9.47-13.99h-0.05v13.99h-2.31V114.79z"/>
												<path class="st6" d="M518,114.79h10.98v2.16h-8.68v5.07h8.07v2.16h-8.07v5.46h9.11v2.16H518V114.79z M524.08,110.37h3.08
				l-3.58,3.46h-1.99L524.08,110.37z"/>
												<path class="st6" d="M534.6,114.79h5.98c1.09,0,1.99,0.15,2.69,0.44c0.71,0.3,1.26,0.67,1.67,1.13c0.41,0.46,0.69,0.97,0.85,1.54
				c0.16,0.57,0.24,1.12,0.24,1.65c0,0.54-0.09,1.07-0.29,1.57c-0.19,0.51-0.47,0.96-0.83,1.37c-0.36,0.41-0.8,0.75-1.32,1.03
				c-0.52,0.28-1.1,0.46-1.74,0.52l4.83,7.76h-2.88l-4.33-7.5h-2.57v7.5h-2.31V114.79z M536.91,122.29h3.03
				c0.45,0,0.89-0.04,1.33-0.11c0.44-0.07,0.83-0.21,1.18-0.4c0.34-0.19,0.62-0.47,0.83-0.83c0.21-0.36,0.31-0.83,0.31-1.4
				c0-0.58-0.1-1.05-0.31-1.41c-0.21-0.36-0.49-0.64-0.83-0.83c-0.34-0.19-0.74-0.32-1.18-0.39c-0.44-0.07-0.88-0.11-1.33-0.11
				h-3.03V122.29z"/>
												<path class="st6" d="M556.54,114.79h2.09l7.28,17.01h-2.69l-1.71-4.2h-8.1l-1.68,4.2h-2.69L556.54,114.79z M560.67,125.58
				l-3.17-7.81h-0.05l-3.22,7.81H560.67z"/>
												<path class="st6" d="M570.05,114.79h2.31v14.85h7.81v2.16h-10.12V114.79z"/>
												<path class="st6" d="M584.44,114.79h10.98v2.16h-8.68v5.07h8.07v2.16h-8.07v5.46h9.11v2.16h-11.42V114.79z"/>
											</g>
										</g>
									</g>
</svg>
							</a>
						</div>
						<div class="col-lg-9">
							<nav id="nav-primary" role="navigation">
                                {% include "menu.twig" with {'menu': menu.get_items} %}
								<a class="btn" id="btn-devis">Demander un devis</a>
							</nav>
						</div>
					</div>
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			<div class="{{sidebar_class}}">
				{% block content %}
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

        {% block contentFront %}
        {% endblock %}

		{% block footer %}
			<div id="section-partners">
				<div class="container">
					<ul class="list-logo-partners">
						<li><img src="http://aarhus.select-themes.com/wp-content/uploads/2018/10/clients-img-11.png" alt=""></li>
						<li><img src="http://aarhus.select-themes.com/wp-content/uploads/2018/10/about-me-clients-img-11.png" alt=""></li>
						<li><img src="http://aarhus.select-themes.com/wp-content/uploads/2018/10/clients-img-9.png" alt=""></li>
						<li><img src="http://aarhus.select-themes.com/wp-content/uploads/2018/10/clients-img-11.png" alt=""></li>
					</ul>
				</div>
			</div>
			<footer id="footer-app">
				<div class="container">
					<div class="row">
						<div class="col-lg-8">
                            {% include 'footer.twig' %}
						</div>
						<div class="col-lg-4">
							<ul id="list-rs">
								<li><a href="#">Linkedin</a></li>
							</ul>
						</div>
					</div>
				</div>
			</footer>

            {{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
