{% extends "base.twig" %}

{% block contentFront %}

    <section id="banner-home" style="background: url('{{ Image(post.meta('img_section_banner')).src  }}') no-repeat center / cover">
        <div class="overlay-banner"></div>
        <h1>{{ post.meta('title_section_banner') }}</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h2>
        <img src="{{ site.url }}/wp-content/themes/ohouais-wp/src/assets/mouse.png" class="picto-mouse-banner-home">
    </section><!-- End section banner home -->

    <section id="about-home">
        <div class="big-title-section big-title">
            <span>Depuis 2005</span>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="{{ Image(post.meta('img_section_about')).src }}" class="img-fluid image" />
                </div>
                <div class="col-lg-6 d-flex align-content-center flex-wrap">
                    <div class="content-about">
                        <h3>{{ post.meta('title_section_about') }}</h3>
                        <p>{{ post.meta('desc_section_about') }}</p>
                        <a href="{{ post.meta('btn_section_about').url }}">en savoir +</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End section about home -->

    <section id="section-recent-projects">
        <div class="big-title-project big-title">
            <span style="color: #EFEFEF">Nos projets</span>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Quelques projets <br/> que nous avons réalisés</h3>
                </div>
                <div class="col-lg-6 d-flex align-items-stretch">
                    <div class="project"
                         style="background: url('{{ projects.0.thumbnail.src }}') no-repeat center / cover">
                        <div class="overlay"></div>
                        <h5 class="title-project">
                            <a href="{{ projects.0.guid }}">{{ projects.0.title }}</a>
                        </h5>
                    </div>
                </div>
                <div class="col-lg-6">
                    {% for project in projects|slice(1, 2) %}
                        <div class="project" style="background: url('{{ project.thumbnail.src }}') no-repeat center / cover">
                            <div class="overlay"></div>
                            <h5 class="title-project">
                                <a href="{{ project.guid }}">{{ project.title }}</a>
                            </h5>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a class="btn" id="btn-devis" href="{{ site.url }}/realisations">+ de réalisations</a>
                </div>
            </div>
        </div>
    </section><!-- End section recent projects -->

{% endblock %}