{% extends "base.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {% for post in posts %}
                    {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
                {% endfor %}
                {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
            </div>
            <div class="col-lg-4">
                test
            </div>
        </div>
    </div>
{% endblock %}