{% extends "base.twig" %}

{% block content %}

	<section id="title-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1>{{post.title}}</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->

{% endblock %}