{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
				<img src="{{ post.thumbnail.src|resize(1200, 300) }}">
				<section class="article-content">
					<h1 class="article-h1">{{ post.title }}</h1>
					<a href="{{ post.link }}">{{ _e('edit') }}</a>
					<p class="blog-author">
						<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.date }}
					</p>
					<div class="article-body">
                        {{post.content}}
					</div>
				</section>

				<!-- comment box -->
				<section class="comment-box">
					<!-- comments -->
					<div class="comments">
                        {% if post.comments %}
							<h3> comments </h3>
                            {% for cmt in post.comments %}
                                {% include "comment.twig" with {comment:cmt} %}
                            {% endfor %}
                        {% endif %}
					</div>

                    {% if post.comment_status == "closed" %}
						<p> comments for this post are closed </p>
                    {% else %}
						<!-- comment form -->
                        {% include "comment-form.twig" %}
                    {% endif %}
				</section>
			</article>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}
