{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}

  <section id="banner-detail-project" style="background: url('{{ project.thumbnail.src }}') no-repeat center / cover">
    <h1 class="title-detail-project">{{ project.post_title }}</h1>
  </section>

  <section class="section-detail-project">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
              {% for gallery in project.meta('gallery') %}
                <div class="col-lg-4">
                  <img src="{{ Image(gallery.image).src }}" class="img-fluid" />
                  <p>{{ gallery.title }}</p>
                </div>
              {% endfor %}
          </div>
        </div>
        <div class="col-lg-6">
          <p>{{ project.post_content }}</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
