{% extends "tease.twig" %}

{% block content %}
	<header class="header-post">
        {% if post.thumbnail.src %}
			<img src="{{post.thumbnail.src}}"/>
        {% endif %}
		<h2 class="title-post"><a href="{{post.link}}">{{post.title}}</a></h2>
	</header>
	<div class="content-post">
        <p>{{post.preview.length(50)}}</p>
	</div>
	<footer class="footer-post">
		<a class="btn" href="{{post.link}}">En savoir +</a>
	</footer>
{% endblock %}